<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="off">
	<!-- プロパティ定義 -->
	<Properties>
	    <Property name="loglayout">[%d{yyyy-MM-dd HH:mm:ss.SSS}], %-5p, %m, [%t], [%c]%n</Property>
	</Properties>
	<!-- ログの出力先とフォーマットを設定 -->
	<appenders>
		<Console name="console">
			<PatternLayout pattern="${loglayout}" />
		</Console>
	</appenders>
	<!-- パッケージごとにAppenderとログレベルを組み合わせる？ -->
	<loggers>
		<root level="info">
			<appender-ref ref="console" />
		</root>
	</loggers>
</configuration>